.container{
  width:400px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
}

/* 上 */
.top{
  width: 400px;
  height:100px;
  background:#FFCE7A;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.mini-box{
  width:160px;
  height:60px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-right:40px;
  background-color: #fff;
}

.mini{
  width:40px;
  height:40px;
  background:#C2FFC8;
}

/* 中央 */
.middle{
  display:flex;
  height:250px;
}

.left{
  width:150px;
  flex-shrink: 0;
  background:#9DDDF4;
}

.right{
  width:250px;
  background:#C2FFC8;
  display:flex;
  flex-direction:column;
  align-items:center;
  align-items: flex-end;
  padding-right: 60px;
  padding-top:40px;
  gap:10px;
}

.block{
  width: 150px;
  height: 50px;
  background-color: #fff;
  flex-shrink: 0px;
  position: relative;
  top: -10px;
}

.block::before{
  content: "";
  display: block;
  width: 140px;
  height: 40px;
  background-color: #ffc2c5;
  margin: 5px;

}

/* 下 */
.bottom{
  height:100px;
  background:#BEA5FF;
}
